/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.barra {
  background-color: #00b14e;
}

.padre i {
  margin-right: 1rem;
}

.navegacion {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.navegacion a {
  padding: 1rem;
  display: block;
}

@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
  }
}
.enlace {
  overflow: hidden;
}

@media (max-width: 768px) {
  .enlace:target .submenu {
    max-height: 200px;
  }
}

@media (min-width: 768px) {
  .enlace {
    flex-grow: 1;
    position: relative;
    overflow: visible;
  }

  .enlace .submenu {
    position: absolute;
    width: 100%;
  }
}

.submenu {
  background-color: #4c4a48;
  max-height: 0px;
  transition: max-height 1.3s ease;
}

@media (min-width: 768px) {
  .submenu a {
    display: none;
  }
  .enlace:hover .submenu a {
    display: block;
  }
  .enlace:hover .submenu {
    max-height: 150px;
  }
}

.submenu a:hover {
  background-color: #73706d;
}

/* Información  */
.fa-question-circle {
  color: #73706d;
  font-size: 100px;
}
.transition {
  width: 100px;
  transition: width 2s;
  margin: 300px auto;
  display: flex;
  /* align-items: center; */
}

.info {
  margin-left: 30px;
  max-height: 40px;
  overflow: hidden;
  color: #ffffff;
  transition: color 4s;
  font-size: 35px;
}
.transition:hover {
  width: 800px;
}

.transition:hover .info {
  color: #73706d;
}
@media (max-width: 768px) {
  .transition {
    margin: 200px auto;
    width: 50px;
    height: 50px;
    align-items: center;
  }
  .fa-question-circle {
    font-size: 50px;
  }
  .info {
    margin-left: 10px;
    font-size: 20px;
    max-height: 50px;
  }
  .transition:hover {
    width: 300px;
  }
}
